{% extends "base.html.twig" %}

{% block title "tous nos biens"%}

{% block body %}

<div class='container'>
    <h2> Tous les biens</h2>
   <div class="row flex mb-3" >
        {% for proj in projetss %}
            <div class="col-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">
                            <a href="{{ path('front.show', {id: proj.id, slug: proj.slug}) }}">{{ proj.nom }}</a>
                            </h5>
                            <div class="portfolio-img d-flex align-items-center justify-content-center">
                            <img class="img-fluid" src="{{asset('assets/img/portfolio-1.jpg')}}" alt="">
                        </div>
                        <p class="card-text">{{ proj.description }}</p>
                           <p class="card-text">{{ proj.user.nom }}</p>
                       
                        <div class='text-primary'>{{proj.budget | number_format (0,'',' ' )}} euros</div>
                            </div>
                            </div>
                            </div>
        {% endfor %}

        <div class="pagination">
                {{ Knp_pagination_render(projetss) }}
            </div>
       {% endblock %}