{% extends 'base.html.twig' %}
{% block title projet.nom %}
{% block body %}
<div class="jumbotron">
    <div class="container">

        {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
            </div>
            {% endfor %}
     <div class="row">
        <div class="col-md-7">
         <div class="col-md-16">
                     <h2>Travaux: {{ projet.travauxType}}
                     </div>
                      <div class="text-primary" style="font-size: 2rem; font-weight: bold;">Budget: {{ projet.budget}} euros</div>
                      <img src=" /assets/img/{{projet.fileName}} " alt="card-img-top" style="width: 70%; height:auto;">
            </div>
            <div class="col-md-5">
<h1>{{ projet.nom}}</h1>
     <p class="text-primary">Si vous êtes un artisan et que vous êtes intéressés par le projet merci de remplir
     le formulaire ci dessous qui sera soumis au propriétaire</p>
     <div id="artisanForm" class="mt-4">
     {{ form_start(form)}}
    <div class='row'>
    <div class="col">{{ form_row(form.nom)}}</div>
    <div class="col">{{ form_row(form.metier)}}</div>
    </div>
    <div class='row'>
    <div class="col">{{ form_row(form.email)}}</div>
    </div>
<div class='row'>
    <div class="col">{{ form_row(form.description)}}</div>
    </div>
    <div class="form-group">
        <button class="btn btn-primary">Envoyer</button>
    </div>
     {{ form_end(form)}}
     </div>

    </div>

</div>
</div>
</div>
<div class='container mt-4'>

        <div class="row">
            <div class="col-md-8">
                <h3 style="margin-bottom: 20px">Caractéristiques</h3>
                   <p>{{ projet.description | nl2br }}</p>
                <p>Budget: {{ projet.budget}} euros</p>
                <p> Statut: {{ projet.statutType}}</p>
 </div>
    </div>


</div>




{% endblock %}