
<h1>Titre du Projet: {{ contactForm.projet.nom}}</h1>
<h3>Mail du propriétaire du projet {{ contactForm.projet.user.email}} </h3>

<h4>Bonjour {{ contactForm.projet.user.nom}} </h4>

<p>{{ contactForm.description}} </p>
<p>{{ contactForm.metier}} </p>
<p>Coordonnées: {{ contactForm.email }}</p>

<p>Signature:  {{ contactForm.nom }}</p>
