

<h1>Titre du Projet: {{ contact.projet.nom}}</h1>
<h3>Mail du propriétaire du projet {{ contact.projet.user.email}} </h3>

<h4>Bonjour {{ contact.projet.user.nom}} </h4>

<p>{{ contact.description}} </p>
<p>{{ contact.metier}} </p>
<p>Coordonnées: {{ contact.email }}</p>

<p>Signature:  {{ contact.nom }}</p>
